@model List<Smart_Shop.Models.CartItem>
<div class="product_list_header" style="margin: 9px 0 0 0;">
    
        <input type="hidden" name="cmd" value="_cart">
        <input type="hidden" name="display" value="1">
        <a href="/gio-hang" class="" value=""><i style="font-size:1.3rem; color: #ffffff;" class="fa fa-cart-arrow-down" aria-hidden="true"></i></a>
        <span style="margin: 0 0 0 6px;">@Model.Count sản phẩm </span>
    
</div>
