
@{
    ViewBag.Title = "Hoàn thành";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<div class=" alert alert-success">
    Bạn đã mua hàng thành công
</div>*@

<div class="checkout">
    <div class="container" style="text-align: center;">
        <h1 style="margin: 25px 0;">Giao dịch thành công</h1>
        <img src="https://readvii.com/wp-content/uploads/2020/02/sach-hay-ve-ban-hang-online-cover-780x470.png" style="width: 1000px; height: 322px;"/>
    </div>
</div>
<div class="clearfix"></div>